ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

ol {
    list-style-position: inside;
}

a {
    text-decoration: none;
    margin-bottom: 0;
}

.main {
    text-align: center;
    border: 2px solid rgb(49, 2, 2);  
    margin: 0;
}

h1, h2 {
    color: rgb(76, 15, 15);
    margin: 0;
}

h1 {
    padding: 20px;
}
.wrapper {
    background-color: bisque;
    padding: 20px;
}

.title {
    background-color: rgb(253, 244, 230);
}